/* 
Developer: Thibaut Julien
Date: 31.07.2024
Version: 1.0
*/

.shantell-sans {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.Nunito {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    max-height: 100vh;
    outline: none;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-image: url('../images/background.png'); 
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: Nunito;
    color: white;
}

.wrapper {
    padding: 0 20rem;
}

/* ANNOUNCE */
/* .marquee-container {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: lightcoral;
    width: 100%;
    padding: 5px 0;
}

.marquee {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
} */

/* HEADER */
header img {
    width: 100%;
    display: flex;
}

header a {
    text-decoration: none;
}

header nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 90px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;  
    gap: 3rem;
}

.nav-links .link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
    text-transform: uppercase;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #8f8f8f;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.link a:hover {
    color: #8f8f8f;
}

nav .btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav .btn:hover {
    background-color: #8f8f8f;
}


/* ARTICLE Below header NAV */
.container-header {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    margin: 0 28rem;
    margin-top: 12rem;
}

.container-header-textes {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    text-align: center;
    line-height: 4.5rem;
}

.container-header-textes h1 {
    font-family: "Shantell Sans", cursive;
    font-weight: 400;
    font-size: 4.1rem;
}

.container-header-textes p {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.nav-header-socials img {
    width: 40px;
    margin: 0 1.5rem;
}

.container-header-image {
    display: flex;
    max-width: 800px;
}

.container-header-image img {
    width: 300px;
}

/* ARTICLE ABOUT ME */
.container-aboutme {
    margin-top: 15rem;
    padding-top: 10rem;
    text-align: center;
}

.container-aboutme h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 7rem;
}

.container-aboutme p {
    text-align: justify;
    font-family: "Shantell Sans", cursive;
    font-weight: 400;
    font-size: 1.3rem;
}

/* ARTICLE MY PROJECTS */
.container-projects {
    margin-top: 15rem;
    padding-top: 10rem;
    text-align: center;
}

.container-projects h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 7rem;
}

.card-container {
    /* perspective: 1000px; */
    display: flex;
    justify-content: space-around;
}

.card {
    width: 300px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    border-radius: 15px;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card-front img {
    width: 80%;
    height: auto;
    border-radius: 15px;
}

.card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transform: rotateY(180deg);
}

.card-back h2 {
    margin-top: 0;
    text-transform: uppercase;
}

.card-back p {
    font-size: 14px;
    line-height: 1.5;
    margin: 1.2rem 0;
    text-align: justify;
}

.card-back img{
    width: 50px;
}

.card:hover {
    transform: rotateY(180deg);
}

/* ARTICLE CONTACT ME */
.container-contact {
    margin-top: 15rem;
    padding: 10rem 10rem 0 10rem;
    text-align: center;
}

.container-contact h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.form-container {
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.input-group input {
    width: 48%;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
}

textarea {
    resize: none;
    margin-top: 1rem;
    padding-bottom: 10rem;
}

button.submit-btn {
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

button.submit-btn img {
    width: 40px;
    height: 40px;
}

/* FOOTER */
.container-footer {
    margin-top: 15rem;
}

.container-footer p {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1.5rem 0;
}

/* ANIMATION */
.reveal-loaded .reveal {
    opacity: 0;
    transform: translateY(60px);
  }
  
  .reveal-loaded .reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(0.5, 0, 0, 1);
  }